@import url("https://cdn.syncfusion.com/ej2/material.css");

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.login-page {
  background-image: url("./data/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.glass-morph {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
}

.glass-morph-box {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(254, 255, 255, 0.431);
  border-radius: 10px;
  height: 10px;
  padding: 20px;
}

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

/* Style the selected option */
select option:checked {
  background-color: #ffffff; /* Background color of the selected option */
  color: #07fa1b;
  height: 10px; /* Text color of the selected option */
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}
